@model IEnumerable<ExpenseTracker.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1 style="text-align:center">Categories</h1>

<p>
    <a class="btn btn-sm btn-success" asp-action="Create">+ Create New</a>
</p>
<br />
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"> Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>
